h1{
    text-align: left;
    font-size: 100px;
    font-style: italic;
    color: rgb(0, 0, 0);
}
p{
    font-size: 16px;
    color: aliceblue;

}
body{
    background-image: url(fem.webp); 
    background-image: url(images\ \(3\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
 
}
.button{
    display: inline-block;
    padding: 10px 20px;
    }
    .botao{
        background-color: rgb(255, 255, 255);
        color: rgb(255, 255, 255);
        border: none;
        text-align: center;
        padding: 10px 20px;
        display: inline-block;
        cursor: pointer;
    }
    ul{
        font-size: 16px;
        color: aliceblue;
    }
    .moda {
        left: 55px;
        top: 0px;
    }
    .modas {

        top: 0px;
        float: right;
        margin: right;
    }